.App {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  text-align: center;
}

.Title {
  color: white;
  font-size: 70px;
}
.advice {
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  border-style: outset;
  text-align: center;
  font-size: 30px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 40px;
  font-weight: 500;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button,
input {
  box-shadow: black 4px 4px 0 0;
  color: black;
  background-color: white;
  border-radius: 33px;
  padding: 16px 40px;
  max-width: unset;
  border: 3px solid black;
  margin: 10px;
  font-size: 1.3rem;
  font-family: Quicksand, sans-serif;
}

#getAdvice:hover {
  background-color: lightgrey;
}

#yesButton:hover {
  background-color: #3e8e41;
}

#noButton:hover {
  background-color: #dd3535;
}

#getAdvice:active {
  background-color: white;
  color: purple;
}

#yesButton:active {
  background-color: #3e8e41;
}

#noButton:active {
  background-color: #dd3535;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#getAdviceInput {
  display: grid;
  grid-template-columns: 50% 50%;
}

img {
  border-radius: 20px;
  width: 45vh;
  height: auto;
}

@media (max-width: auto) {
  .fact_sidebar {
    display: none;
  }
}

footer {
  display: grid;
  grid-template-rows: auto auto;
  text-align: center;
  position: relative;
  bottom: 0;
  width: auto;
  height: auto;
  margin-top: 20px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.432);
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}
