@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 10;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  text-align: right;
  margin: 20px 0 0;
  padding: 10px 0;
}

.navbar {
  list-style: none;
  margin: 0 2px;
  padding: 10;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover {
  color: #fddb3a;
}

.navbar .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.homecontents {
  position: absolute;
  width: 422px;
  height: 357px;
  left: 135px;
  top: 172px;
}

.footer {
  position: absolute;
  width: 1440px;
  height: 246px;
  left: 0px;
  top: 769px;
}

.profileOverview, .reviews, .portfolioPreview, .certifications, .skills {
  outline: 2px solid black;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 15px;
}

.profileOverview {
  text-align: center;
}

.certifications, .skills {
  grid-column-start: 1;
}

.portfolioPreview, .reviews {
  margin-left: 25px;
  width: auto;
}

.portfolioPreview {
  grid-row-start: 1;
  grid-column-start: 2;
}

.reviews {
  grid-row-start: 2;
  grid-column-start: 2;
}

.profileContent {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: min-content auto;
  height: 100vh;
  margin: 10px 10px 10px 10px;
}


.container {
  display: flex;
  overflow: scroll;
  width: 100%;
  max-width: 100%;
  padding-left: 14px;
  border: 1px grey solid;
  border-radius: 5px;
  color: black
}

.container input {
  width: 100%;
  min-width: 50%;
  border: none;
  border-radius: 5px;
  padding: 14px;
  padding-left: 14px;
}

.tag {
  display: flex;
  align-items: center;
  margin: 7px 0;
  margin-right: 10px;
  padding: 0 10px;
  padding-right: 5px;
  border: 1px solid orange;
  border-radius: 5px;
  background-color: orange;
  white-space: nowrap;
  color: white;
}

.tag button {
  display: flex;
  padding: 6px;
  border: none;
  background-color: unset;
  cursor: pointer;
  color: white;
}