@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 10;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  text-align: right;
  margin: 20px 0 0;
  padding: 10px 0;
}

.navbar {
  list-style: none;
  margin: 0 2px;
  padding: 10;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover {
  color: #fddb3a;
}

.navbar .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navbar a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.homecontents {
  position: absolute;
  width: 422px;
  height: 357px;
  left: 135px;
  top: 172px;
}

.footer {
  position: absolute;
  width: 1440px;
  height: 246px;
  left: 0px;
  top: 769px;
}

a:link {
  text-decoration: none;
}

.createPortfolioButton {
  font-size: 15px;
  padding: 20px;
}

.createPortfolioButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.headerBold {
  color: white;
  text-transform: uppercase;
  font-style: oblique;
}

button {
  background-color: #fddb3a;
  border: 1px solid;
  border-radius: 5px;
  border-color: black;
  margin: 5px;
  padding: 2px;
}

.home {
  background: radial-gradient(
    ellipse at 50% 54%,
    rgba(0, 224, 255, 1),
    rgba(140, 233, 250, 0.87),
    rgba(203, 229, 247, 0.45)
  );
  background-size: cover;
  height: 100vh;
}
