.userAvatar {
  border-radius: 50%;
}

.profileOverview,
.portfolioPreview,
.certifications,
.skills {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 15px;
}

.profileOverview,
.certifications,
.skills {
  grid-column: 1;
}

.profileOverview {
  text-align: center;
}

.portfolioPreview {
  grid-row: 1 / span 2;
  margin-left: 15px;
  grid-column: 2 / span 3;
}

.profileContent {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 100vh;
  margin: 10px 10px 10px 10px;
}

input {
  border: 1px solid;
  border-radius: 2px;
  padding: 5px;
}